.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }



/* div,h1,h2,p,ul,li,a{
        border: 1px solid green;
  } */



.header {
    position: relative;
    display:flex;
    justify-content:center;
    flex-direction: column;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:#f2f2f2;
}

.logo {
  background-image:url(../images/logo_grey.svg);
  width: 185px;
  height: 35px;
}

.logo_place_header {
  background-repeat: no-repeat;
   position: absolute;
   top: 30px;
   left: 64px;
   z-index:2;
}

.header__title {

  margin-top:0;
  margin-bottom:0;

  margin-left: 64px;
  width:50%;
  line-height: 96px;
  font-size:   102px;
  font-weight: 600;
  z-index:3;
}


.header__subtitle {
  margin-top:0;
  margin-bottom:0;

  position: absolute;
  width:388px;
  bottom: 30px;
  left: 64px;
    line-height: 25px;
    font-size:   18px;
    font-weight: 400;
    z-index:2;
}




.header__square-pic {
  position: absolute;
  min-height: 568px;
  min-width: 568px;
  background-color:#2F80ED;
  top: 64px;
  right: 0px;
  z-index:0;
}

.header__main-illustration {
  position:absolute;
  min-width: 765px;
  min-height: 608px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/two_again.png);
  bottom:0;
  right:0;
  z-index:1;
}




.header__link, .header__link:active, .header__link:hover  {
    color:#2F80ED;
}



.description {
    margin-top:100px;
    display:flex;
    justify-content: center;
    min-height: 300px;
}



.two-columns {
  min-width:784px;
  display:flex;
  width:80%;
  min-height:360px;
  justify-content:space-between;
  }


.two-columns__brief {
          margin:0;
          width: 175px;
          color:#2f80ed;
          line-height: 1.2;
          font-size:   18px;
          font-weight: 500;
}




.two-columns__main-text {

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:80%;

}

.two-columns__paragraph {
  margin-top:0;
  margin-bottom:0;

  line-height: 34px;
  font-size:   24px;
  font-weight: 400;
}

.two-columns__span-accent {
  font-weight: 600;
}




.digits{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:100px;
}

.section-title{
  margin-top:100px;
  margin-bottom:0px;

  line-height: 69px;
  font-size:   60px;
  font-weight: 600;
}


  .section-subtitle{
    margin-top: 20px;
    margin-bottom: 0px;

    line-height: 34px;
    font-size:   24px;
    font-weight: 400;

  }

  .table{
    width:1100px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;

  }

    .table__cell{
      margin-top: 60px;

      width: 250px;
    }

      .table__heading{
        margin-bottom: 20px;
        margin-top: 0px;

        line-height: 1.15;
        font-size:   24px;
        font-weight: 600;
      }

    .table__text{
      margin-bottom: 0px;
      margin-top: 0px;

      line-height: 1.2;
      font-size:   18px;
      font-weight: 400;
      }





      .feinman{
           background-image:url(../images/feinman.png);
           background-size: 867px 637px;
           background-position: left bottom;
           background-repeat: no-repeat;
         height:790px;
         display:flex;
         flex-direction:column;
         align-items:center;
         position: relative;
         padding-top:100px;
         background-color:#f2f2f2;
      }


      .feinman__title{
        margin-top: 0px;
        margin-bottom: 0px;
        text-align:center;
        line-height: 1.15;
        font-size:   120px;
        font-weight: 600;
          width:648px;
      }
      .feinman__subtitle{
        margin-bottom:0px;
        margin-top: 70px;

        line-height: 1.15;
        font-size:   36px;
        font-weight: 400;
        }



  .feinman__link, .feinman__link:active, .fainman__link:hover{

    line-height: 51px;
    font-size:   36px;
    font-weight: 400;
    position:absolute;
    margin:auto;
    right: 48px;
    top:calc(890px/2);

    color: inherit;
    text-decoration: none;
  }






.kaufman{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    background-color: #1f1f1f;
    padding-bottom: 90px;
    overflow: hidden;

}

    .kaufman__triangle{
      background-image:url(../images/triangle.svg);
      position: absolute;
      background-size: cover;
      width: 877px;
      height: 877px;
      right:-210px;
      z-index: 1;
    }



    .section-title_theme_dark{
      color:white;
      margin-top: 90px;
    }

    .section-subtitle_theme_dark{
      color:white;
      margin-top: 20px;
    }

    .table_theme_dark{
      color:white;
      z-index: 2;
    }

      .table__cell_theme_dark{
        width: 200px;
        margin-top: 80px;
      }

        .table__heading_theme_dark{

        }

      .table__text_theme_dark{

      }








.footer {
min-height: 250px;
display:flex;
padding-top: 60px;
padding-bottom: 40px;
color:white;
background-color: #1f1f1f;
flex-basis:711;
justify-content: center;
  }


.footer__columns{
width:90%;
display:flex;
flex-direction:row;
justify-content: space-between;
}

.footer__column_copyright{
display:flex;
width: 50%;
flex-direction:column;
justify-content: space-between;
}


.logo_place_footer{
  background-repeat: no-repeat;
  background-position: center;

}




  .footer__author{
      line-height: 25px;
      font-size:18px;
      font-weight: 400;
      margin-top: 18px;
      margin-bottom: 18px;
  }



.footer__column{

}

.footer__column_info{

}

.footer__column_social{

}


.footer__column-heading{
  margin-bottom: 0;
  margin-top:0;

  line-height: 30px;
  font-size:  18px;
  font-weight: 600;

}

.footer__column-links{

  line-height: 30px;
  font-size:  18px;
  font-weight: 400;

  padding-left: 0;
  list-style-type: none;

}

.footer__column-link:active, .footer__column-link, .footer__column-link:hover{

  text-decoration: none;
  color: inherit;
}





.footer__social-icon{
width:16px;
height:16px;
margin-right:10px;
}
